.shadow-optional {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(138, 138, 138, 0.7);
	z-index: -1;
}

.hw-optional {
	position: relative;
	padding-top: 1em;
	z-index: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	background: rgb(189, 195, 199);
	background: linear-gradient(
		0deg,
		rgba(189, 195, 199, 1) 0%,
		rgba(44, 62, 80, 1) 100%
	);
	box-shadow: inset -0px -9px 17px -5px rgba(66, 68, 90, 0.5);
}

.motor-connected-parts {
	background: none;
	box-shadow: none;
}

.hw-optional-hero {
	background-image: url(../background/optional-bg.jpg);
	background-position: 0 40%;
}

.hw-optional-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 6em;
}

.hw-optional-box {
	background: rgb(255, 255, 255);
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255) 65%,
		rgb(255, 0, 0) 100%
	);
	transition: all 0.5s;

	&:hover {
		background: rgb(255, 255, 255);
		background: linear-gradient(
			180deg,
			rgb(202, 202, 202) 65%,
			rgb(255, 0, 0) 100%
		);
	}
}

.motor-connected-box {
	background: rgb(255, 255, 255);
	background: linear-gradient(
		180deg,
		rgb(230, 230, 230) 55%,
		rgb(173, 173, 173) 110%
	);
	transition: all 0.5s;

	&:hover {
		background: rgb(255, 255, 255);
		background: linear-gradient(
			180deg,
			rgba(255, 255, 255) 45%,
			rgb(116, 116, 116) 100%
		);
	
	}
}

.product-category-text {
	font-size: 1.5rem;
	color: black;
}
